# Evaluate embedding methods

## Paths

In [1]:
drive_path = "/content/drive/MyDrive/Colab Notebooks/Codesentics/notebooks/"
bx_preprocessed_dataset_path = drive_path + "bx_data/preprocessed_dataset/"

ratings_path = bx_preprocessed_dataset_path + "preprocessed_ratings_data.pkl"
book_metadata_path = bx_preprocessed_dataset_path + "preprocessed_book_metadata.pkl"

pca_embeddings_save_path = drive_path + "book_embeddings/pca_book_embeddings.pkl"
gd_embeddings_save_path = drive_path + "book_embeddings/gd_book_embeddings.pkl"
nn_embeddings_save_path = drive_path + "book_embeddings/softmax_book_embeddings.pkl"

## Imports

In [2]:
import pickle
import pandas as pd
import numpy as np

from sklearn.neighbors import NearestNeighbors

## Load data and book embeddings

In [3]:
ratings = pd.read_pickle(ratings_path)
books = pd.read_pickle(book_metadata_path)

In [4]:
with open(pca_embeddings_save_path, 'rb') as f:
     pca_embeddings = pickle.load(f)
with open(gd_embeddings_save_path, 'rb') as f:
    matrix_factor_gd_embeddings = pickle.load(f)
with open(nn_embeddings_save_path, 'rb') as f:
    matrix_factor_nn_embeddings = pickle.load(f)

## Create ground truth dataset

From item-user ratings matrix. Where each item (book) vector has length given by number of users will Nearest Neighbors method (by cosine similarity, euclid distance had worse performance) be
used to create more accurate although more computation heavy method to get approximate ground truth recommendations for most rated books.

In [5]:
size_of_eval_dataset = 50
number_of_recommendations = 5

top_books = ratings.groupby("Book-Embedding-ID").count()["Book-Rating"].\
    sort_values(ascending=False).index[:50]

print(f"Evaluation dataset size: {size_of_eval_dataset} books")
print(f"Recommendations per book: {number_of_recommendations}")

Evaluation dataset size: 50 books
Recommendations per book: 5

In [6]:
def convert_temp_ids_to_book_ids(ratings, temp_ids):
    recommended_book_ids = ratings[
        ratings["Book-Embedding-ID"].isin(temp_ids[0])]

    sorted_recommended_book_ids = recommended_book_ids.sort_values(
        by=["Book-Embedding-ID"],
        key=lambda x: x.map(
            {v: i for i, v in enumerate(temp_ids[0])}))

    sorted_recommended_book_ids = sorted_recommended_book_ids["Book-ID"].unique()
    return sorted_recommended_book_ids

def get_book_titles_from_book_ids(books_metadata, book_ids):

    recommended_books = books_metadata[
        books_metadata['Book-ID'].isin(book_ids)].sort_values(
            by=["Book-ID"],
            key=lambda x: x.map({v: i for i, v in enumerate(book_ids)}))

    return recommended_books['Book-Title'].unique()

def get_k_nearest_neighbours_model(embeddings, metric="cosine"):
    knn_model = NearestNeighbors(metric=metric, n_jobs=-1)
    knn_model.fit(embeddings)
    return knn_model

def get_k_neighbours_for_vector(vector, knn_model, k=5):
    _, cos_indices = knn_model.kneighbors(
        vector, n_neighbors=k)
    return cos_indices

def get_k_recommendations_for_set_of_ids(
    set_of_ids,
    embeddings,
    k):

    # Prepare knn model
    knn_model = get_k_nearest_neighbours_model(embeddings, metric="cosine")

    # For each book ID query find recommended books IDs
    recommendation_dict = {}
    for book_emb_id in set_of_ids:

        book_embedding = embeddings[book_emb_id].reshape(1,-1)

        recommended_book_emb_ids = get_k_neighbours_for_vector(
            book_embedding, knn_model,
            k=k + 1)

        # Leave out first recommended ID as that is ID of queried book
        recommendation_dict[book_emb_id] = recommended_book_emb_ids[0,1:]

    return recommendation_dict

### Compute ground truth recommendations.

In [7]:
item_to_user_ratings_matrix = np.array(ratings.pivot(
    index="Book-Embedding-ID",
    columns="User-Embedding-ID",
    values='Book-Rating').fillna(0).astype("int8"))

In [8]:
evaluation_recommend_dict = get_k_recommendations_for_set_of_ids(
    set_of_ids=top_books,
    embeddings=item_to_user_ratings_matrix,
    k=number_of_recommendations)

## Get recommendations from book embeddings

In [9]:
pca_recommend_dict = get_k_recommendations_for_set_of_ids(
    set_of_ids=top_books,
    embeddings=pca_embeddings,
    k=number_of_recommendations)

mat_fact_gd_recommend_dict = get_k_recommendations_for_set_of_ids(
    set_of_ids=top_books,
    embeddings=matrix_factor_gd_embeddings,
    k=number_of_recommendations)

mat_fact_nn_recommend_dict = get_k_recommendations_for_set_of_ids(
    set_of_ids=top_books,
    embeddings=matrix_factor_nn_embeddings,
    k=number_of_recommendations)

## Evaluation

### Define evaluation metrics

In [10]:
# Normalized Discounted Cumulative Gain
def normalized_dcg_for_query(gt_ids, pred_ids):
    relevance_for_gt_ids = np.linspace(1, 3, len(gt_ids))
    pred_ids_relevance = [relevance_for_gt_ids[np.where(gt_ids == id)][0]
                          if id in gt_ids else 0.0
                          for id in pred_ids]

    dcg = np.sum(pred_ids_relevance /
                 np.log2(np.arange(2, len(pred_ids_relevance) + 2)))
    ideal_dcg = np.sum(relevance_for_gt_ids /
                       np.log2(np.arange(2, len(pred_ids_relevance) + 2)))

    norm_dcg = dcg / ideal_dcg

    return norm_dcg

# Average Precision
def average_precision_for_query(gt_ids, pred_ids):

    correct = 0
    total_precision = 0

    for i, id in enumerate(pred_ids):
        if id in gt_ids:
            correct += 1
            precision = correct / (i + 1)
            total_precision += precision

    average_precision = total_precision / len(gt_ids)

    return average_precision

# Reciprocal Rank
def reciprocal_rank_for_query(gt_ids, pred_ids):

    rankings = [id in gt_ids for id in pred_ids]
    rr_value = 1 / (rankings.index(True) + 1) if sum(rankings) > 0 else 0

    return rr_value

### Define function for complex evaluation

In [11]:
def evaluate_recommendations(
    ground_truth_recommendations,
    predicted_recommendations):

    ap_list = []
    ndcg_list = []
    rr_list = []

    evaluation_data = []
    query_evaluation_titles = []

    for i, (gt_ids, pred_ids, query_id) in enumerate(zip(
        ground_truth_recommendations.values(),
        predicted_recommendations.values(),
        ground_truth_recommendations.keys())):

        query_title = books[
            books["Book-Embedding-ID"] == query_id]["Book-Title"].iloc[0]

        recommended_book_ids = convert_temp_ids_to_book_ids(
            ratings, [pred_ids])
        recommended_book_titles = get_book_titles_from_book_ids(
            books, recommended_book_ids)

        gt_book_ids = convert_temp_ids_to_book_ids(
            ratings, [gt_ids])
        gt_book_titles = get_book_titles_from_book_ids(
            books, gt_book_ids)

        ap_list.append(average_precision_for_query(gt_ids, pred_ids))
        ndcg_list.append(normalized_dcg_for_query(gt_ids, pred_ids))
        rr_list.append(reciprocal_rank_for_query(gt_ids, pred_ids))

        evaluation_data.append((
            query_title, query_id,
            ap_list[-1], ndcg_list[-1], rr_list[-1],
            gt_ids, pred_ids))
        query_evaluation_titles.append((
            query_title, query_id,
            gt_book_titles, recommended_book_titles
        ))

    mean_average_precision = np.mean(ap_list)
    mean_ndcg = np.mean(ndcg_list)
    mean_reciprocal_rank = np.mean(rr_list)

    evaluation_data.append((
            "MEAN", -1,
            mean_average_precision, mean_ndcg, mean_reciprocal_rank,
            [], []))

    eval_df = pd.DataFrame(
        evaluation_data,
        columns=["Query title", "Query book id",
                 "Average precision", "Norm DCG", "MR",
                 "GT ids", "Pred ids"])
    eval_title_df = pd.DataFrame(
        query_evaluation_titles,
        columns=["Query title", "Query book id",
                 "GT titles", "Pred titles"])

    return eval_df, eval_title_df

### Evaluate recommendations from PCA embeddings

In [12]:
results_pca_embs, result_titles_pca_embs = evaluate_recommendations(
    evaluation_recommend_dict,
    pca_recommend_dict)

results_pca_embs.sort_values("Average precision", ascending=False)

,Query title,Query book id,Average precision,Norm DCG,MR,GT ids,Pred ids
11,The Firm,381,1.000000,1.016856,1.000000,"[132, 222, 38, 221, 219]","[132, 38, 222, 219, 221]"
7,A Time to Kill,219,1.000000,1.000000,1.000000,"[222, 221, 381, 38, 132]","[222, 221, 381, 38, 132]"
26,Harry Potter and the Chamber of Secrets,33,1.000000,1.000000,1.000000,"[29, 353, 34, 9, 32]","[29, 353, 34, 9, 32]"
28,The Client,221,1.000000,1.004227,1.000000,"[222, 38, 219, 132, 381]","[222, 38, 219, 381, 132]"
24,Interview with the Vampire,314,1.000000,1.038632,1.000000,"[359, 363, 364, 190, 622]","[359, 190, 364, 363, 622]"
12,Harry Potter and the Sorcerer's Stone,34,0.800000,0.776111,1.000000,"[33, 29, 353, 9, 203]","[33, 29, 353, 9, 443]"
32,The Rainmaker,132,0.800000,0.878511,1.000000,"[381, 38, 150, 221, 222]","[38, 150, 381, 222, 213]"
5,The Pelican Brief,222,0.760000,0.792291,1.000000,"[221, 219, 381, 132, 150]","[221, 219, 381, 38, 150]"
30,House of Sand and Fog,311,0.760000,0.804920,1.000000,"[576, 445, 273, 474, 246]","[576, 273, 445, 448, 246]"
39,The Chamber,38,0.760000,0.911148,1.000000,"[132, 221, 63, 381, 150]","[132, 150, 381, 222, 221]"
29,Summer Sisters,259,0.643333,0.826227,1.000000,"[568, 379, 147, 640, 647]","[147, 17, 640, 379, 568]"
36,One for the Money,115,0.600000,0.677489,1.000000,"[170, 352, 440, 36, 442]","[170, 440, 36, 119, 441]"
41,The Runaway Jury,213,0.600000,0.750975,1.000000,"[132, 150, 222, 63, 82]","[150, 82, 132, 153, 38]"
25,Jurassic Park,529,0.600000,0.677489,1.000000,"[287, 284, 288, 289, 373]","[287, 288, 289, 63, 70]"
23,The Pilot's Wife : A Novel,100,0.550000,0.618797,1.000000,"[246, 76, 24, 447, 104]","[76, 246, 549, 447, 257]"
31,The No. 1 Ladies' Detective Agency,180,0.550000,0.624739,1.000000,"[179, 625, 207, 424, 565]","[179, 625, 114, 565, 601]"
4,The Nanny Diaries: A Novel,497,0.550000,0.560971,1.000000,"[98, 482, 635, 236, 330]","[98, 635, 256, 482, 547]"
48,The Brethren,82,0.550000,0.660338,1.000000,"[150, 213, 1, 193, 153]","[213, 150, 63, 153, 132]"
3,The Da Vinci Code,25,0.520000,0.721092,1.000000,"[61, 510, 48, 129, 157]","[61, 129, 290, 45, 157]"
33,To Kill a Mockingbird,35,0.483333,0.648454,1.000000,"[312, 292, 99, 236, 524]","[312, 503, 524, 99, 513]"
10,Bridget Jones's Diary,11,0.483333,0.635080,1.000000,"[481, 647, 301, 513, 51]","[481, 90, 301, 51, 651]"
46,The Bridges of Madison County,301,0.453333,0.653373,1.000000,"[651, 11, 517, 412, 638]","[11, 90, 638, 267, 651]"
50,MEAN,-1,0.421267,0.519883,0.795000,[],[]
6,She's Come Undone,49,0.420000,0.773771,1.000000,"[424, 72, 563, 24, 113]","[113, 446, 206, 424, 72]"
49,Violets Are Blue,47,0.400000,0.375488,1.000000,"[46, 329, 528, 379, 197]","[46, 329, 66, 184, 426]"
19,Angels &amp; Demons,61,0.400000,0.558061,1.000000,"[25, 114, 48, 507, 179]","[25, 179, 251, 180, 129]"
45,1st to Die: A Novel,67,0.400000,0.411087,1.000000,"[46, 17, 403, 105, 41]","[17, 46, 322, 550, 47]"
43,Midwives: A Novel,576,0.400000,0.604002,1.000000,"[311, 438, 474, 246, 59]","[246, 311, 448, 273, 209]"
34,The Street Lawyer,63,0.383333,0.445198,0.500000,"[193, 38, 150, 414, 213]","[132, 38, 193, 150, 82]"
27,Life of Pi,106,0.333333,0.482286,1.000000,"[151, 24, 543, 273, 202]","[151, 483, 202, 242, 327]"
16,The Notebook,0,0.333333,0.482286,1.000000,"[109, 552, 522, 169, 517]","[109, 423, 517, 421, 319]"
15,The Joy Luck Club,30,0.300000,0.400624,1.000000,"[176, 72, 107, 577, 171]","[176, 502, 411, 577, 296]"
18,The Secret Life of Bees,118,0.300000,0.400624,1.000000,"[43, 254, 627, 200, 256]","[43, 97, 268, 200, 104]"
44,Little Altars Everywhere: A Novel,104,0.200000,0.385829,1.000000,"[234, 330, 533, 100, 482]","[533, 251, 54, 200, 462]"
21,The Red Tent,107,0.200000,0.192914,1.000000,"[101, 72, 367, 273, 209]","[101, 293, 202, 241, 181]"
22,Good in Bed,207,0.200000,0.192914,1.000000,"[420, 379, 180, 24, 572]","[420, 477, 200, 295, 536]"
35,The Summons,54,0.200000,0.348741,0.500000,"[283, 46, 63, 377, 352]","[52, 46, 17, 63, 104]"
40,The Perfect Storm : A True Story of Men Agains...,493,0.200000,0.578743,1.000000,"[108, 397, 243, 123, 134]","[134, 507, 70, 472, 71]"
1,The Lovely Bones: A Novel,24,0.180000,0.430005,0.500000,"[207, 246, 369, 100, 257]","[496, 369, 503, 123, 100]"
2,Divine Secrets of the Ya-Ya Sisterhood: A Novel,256,0.166667,0.275998,0.333333,"[97, 107, 497, 118, 64]","[165, 1, 497, 97, 540]"
47,Red Dragon,298,0.100000,0.182573,0.500000,"[52, 609, 192, 529, 139]","[152, 609, 559, 214, 288]"
0,Wild Animus,31,0.100000,0.182573,0.500000,"[341, 285, 117, 175, 555]","[223, 285, 215, 360, 218]"
13,A Painted House,1,0.100000,0.121715,0.500000,"[82, 46, 448, 273, 115]","[256, 82, 515, 99, 72]"
38,Hannibal,52,0.066667,0.289372,0.333333,"[298, 615, 240, 46, 559]","[609, 217, 559, 335, 141]"
14,Message in a Bottle,319,0.066667,0.144686,0.333333,"[517, 607, 399, 641, 109]","[28, 0, 607, 112, 63]"
42,A Prayer for Owen Meany,126,0.050000,0.124626,0.250000,"[514, 76, 111, 424, 296]","[176, 241, 577, 76, 460]"
17,Where the Heart Is,257,0.050000,0.249251,0.250000,"[24, 635, 485, 235, 114]","[496, 100, 76, 114, 385]"
37,The Girls' Guide to Hunting and Fishing,438,0.050000,0.083084,0.250000,"[48, 576, 611, 207, 90]","[485, 39, 536, 48, 98]"
8,The Horse Whisperer,224,0.000000,0.000000,0.000000,"[444, 468, 344, 113, 20]","[639, 526, 350, 317, 128]"
9,Snow Falling on Cedars,254,0.000000,0.000000,0.000000,"[508, 309, 99, 473, 367]","[97, 181, 45, 201, 248]"
20,White Oleander : A Novel,123,0.000000,0.000000,0.000000,"[24, 448, 265, 144, 186]","[515, 99, 188, 573, 497]"

In [13]:
result_titles_pca_embs

,Query title,Query book id,GT titles,Pred titles
0,Wild Animus,31,"[At Home in Mitford, The Andromeda Strain, The...","[Smilla's Sense of Snow, The Andromeda Strain,..."
1,The Lovely Bones: A Novel,24,"[Good in Bed, Drowning Ruth, The Book of Ruth,...","[Nickel and Dimed: On, The Book of Ruth, The C..."
2,Divine Secrets of the Ya-Ya Sisterhood: A Novel,256,"[Girl in Hyacinth Blue, The Red Tent, The Nann...","[Where the Red Fern Grows, A Painted House, Th..."
3,The Da Vinci Code,25,"[Angels &amp; Demons, Touching Evil, The Sweet...","[Angels &amp; Demons, Middlesex: A Novel, Time..."
4,The Nanny Diaries: A Novel,497,"[The Devil Wears Prada : A Novel, The Hours: A...","[The Devil Wears Prada : A Novel, Blue Diary, ..."
5,The Pelican Brief,222,"[The Client, A Time to Kill, The Firm, The Rai...","[The Client, A Time to Kill, The Firm, The Cha..."
6,She's Come Undone,49,"[Empire Falls, The Bonesetter's Daughter, How ...","[The Poisonwood Bible: A Novel, A Virtuous Wom..."
7,A Time to Kill,219,"[The Pelican Brief, The Client, The Firm, The ...","[The Pelican Brief, The Client, The Firm, The ..."
8,The Horse Whisperer,224,"[The Loop, The Alibi, Envy, The Poisonwood Bib...","[Voyager, Dragonfly in Amber, Outlander, Tara ..."
9,Snow Falling on Cedars,254,"[Cry Wolf, Songs in Ordinary Time, While I Was...","[Girl in Hyacinth Blue, Balzac and the Little ..."
10,Bridget Jones's Diary,11,"[Bridget Jones: The Edge of Reason, Zoya, The ...","[Bridget Jones: The Edge of Reason, Girl, Inte..."
11,The Firm,381,"[The Rainmaker, The Pelican Brief, The Chamber...","[The Rainmaker, The Chamber, The Pelican Brief..."
12,Harry Potter and the Sorcerer's Stone,34,"[Harry Potter and the Chamber of Secrets, Harr...","[Harry Potter and the Chamber of Secrets, Harr..."
13,A Painted House,1,"[The Brethren, Roses Are Red, We Were the Mulv...",[Divine Secrets of the Ya-Ya Sisterhood: A Nov...
14,Message in a Bottle,319,"[Nights in Rodanthe, The Mulberry Tree, River'...","[Dark Angel, The Notebook, The Mulberry Tree, ..."
15,The Joy Luck Club,30,"[The Kitchen God's Wife, The Bonesetter's Daug...","[The Kitchen God's Wife, Angela's Ashes: A Mem..."
16,The Notebook,0,"[A Walk to Remember, Everything's Eventual : 1...","[A Walk to Remember, The Rescue, Nights in Rod..."
17,Where the Heart Is,257,"[The Lovely Bones: A Novel, Blue Diary, Confes...","[Nickel and Dimed: On, The Pilot's Wife : A No..."
18,The Secret Life of Bees,118,"[The Saving Graces: A Novel, Snow Falling on C...","[The Saving Graces: A Novel, Girl in Hyacinth ..."
19,Angels &amp; Demons,61,"[The Da Vinci Code, Bel Canto: A Novel, The Sw...","[The Da Vinci Code, Tears of the Giraffe, Flow..."
20,White Oleander : A Novel,123,"[The Lovely Bones: A Novel, We Were the Mulvan...","[Skipping Christmas, While I Was Gone, A Thin ..."
21,The Red Tent,107,"[Girl with a Pearl Earring, The Bonesetter's D...","[Girl with a Pearl Earring, ANGELA'S ASHES, Fr..."
22,Good in Bed,207,"[In Her Shoes : A Novel, Family Album, The No....","[In Her Shoes : A Novel, Patty Jane's House of..."
23,The Pilot's Wife : A Novel,100,"[Drowning Ruth, I Know This Much Is True, The ...","[I Know This Much Is True, Drowning Ruth, Year..."
24,Interview with the Vampire,314,"[The Vampire Lestat, The Witching Hour, The Ta...","[The Vampire Lestat, The Queen of the Damned, ..."
25,Jurassic Park,529,"[Rising Sun, Sphere, Airframe, The Lost World,...","[Rising Sun, Airframe, The Lost World, The Str..."
26,Harry Potter and the Chamber of Secrets,33,"[Harry Potter and the Prisoner of Azkaban, Har...","[Harry Potter and the Prisoner of Azkaban, Har..."
27,Life of Pi,106,"[Tell No One, The Lovely Bones: A Novel, I Cap...","[Tell No One, The Golden Compass, Fried Green ..."
28,The Client,221,"[The Pelican Brief, The Chamber, A Time to Kil...","[The Pelican Brief, The Chamber, A Time to Kil..."
29,Summer Sisters,259,"[Wifey, Family Album, Wanderlust, Fine Things,...","[Wanderlust, Along Came a Spider, Fine Things,..."
30,House of Sand and Fog,311,"[Midwives: A Novel, River, Cross My Heart, Fal...","[Midwives: A Novel, Fall On Your Knees, River,..."
31,The No. 1 Ladies' Detective Agency,180,"[Tears of the Giraffe, Morality for Beautiful ...","[Tears of the Giraffe, Morality for Beautiful ..."
32,The Rainmaker,132,"[The Firm, The Chamber, The Partner, The Clien...","[The Chamber, The Partner, The Firm, The Pelic..."
33,To Kill a Mockingbird,35,"[Five Quarters of the Orange, Song of Solomon,...","[Five Quarters of the Orange, The Color of Wat..."
34,The Street Lawyer,63,"[The Testament, The Chamber, The Partner, Moon...","[The Rainmaker, The Chamber, The Testament, Th..."
35,The Summons,54,"[The Empty Chair, Roses Are Red, The Street La...","[Hannibal, Roses Are Red, Along Came a Spider,..."
36,One for the Money,115,"[Two for the Dough, Hard Eight : A Stephanie P...","[Two for the Dough, High Five, Four To Score, ..."
37,The Girls' Guide to Hunting and Fishing,438,"[The Sweet Potato Queens' Book of Love, Midwiv...","[Confessions of a Shopaholic, The Idiot Girls'..."
38,Hannibal,52,"[Red Dragon, Rose Madder, The Drawing of the T...","[Silence of the Lambs, The Sum of All Fears, C..."
39,The Chamber,38,"[The Rainmaker, The Client, The Street Lawyer,...","[The Rainmaker, The Partner, The Firm, The Pel..."
40,The Perfect Storm : A True Story of Men Agains...,493,[Like Water for Chocolate: A Novel in Monthly ...,"[Into the Wild, Daisy Fay and the Miracle Man,..."
41,The Runaway Jury,213,"[The Rainmaker, The Partner, The Pelican Brief...","[The Partner, The Brethren, The Rainmaker, Pre..."
42,A Prayer for Owen Meany,126,"[The Hours : A Novel, I Know This Much Is True...","[The Kitchen God's Wife, The Handmaid's Tale, ..."
43,Midwives: A Novel,576,"[House of Sand and Fog, The Girls' Guide to Hu...","[Drowning Ruth, House of Sand and Fog, We Were..."
44,Little Altars Everywhere: A Novel,104,"[The Shipping News : A Novel, STONES FROM THE ...","[Seven Habits Of Highly Effective People, Flow..."
45,1st to Die: A Novel,67,"[Roses Are Red, Along Came a Spider, The Clini...","[Along Came a Spider, Roses Are Red, Remember ..."
46,The Bridges of Madison County,301,"[That Camden Summer, Bridget Jones's Diary, Ni...","[Bridget Jones's Diary, Girl, Interrupted, Acc..."
47,Red Dragon,298,"[Hannibal, Silence of the Lambs, Point of Orig...","[Dune, Silence of the Lambs, Clear and Present..."
48,The Brethren,82,"[The Partner, The Runaway Jury, A Painted Hous...","[The Runaway Jury, The Partner, The Street Law..."
49,Violets Are Blue,47,"[Roses Are Red, Four Blind Mice, Kiss the Girl...","[Roses Are Red, Four Blind Mice, Cradle and Al..."

### Evaluate recommendations from gradient descent embeddings

In [14]:
results_gd_embs, result_titles_gd_embs = evaluate_recommendations(
    evaluation_recommend_dict,
    mat_fact_gd_recommend_dict)

results_gd_embs.sort_values("Average precision", ascending=False)

,Query title,Query book id,Average precision,Norm DCG,MR,GT ids,Pred ids
12,Harry Potter and the Sorcerer's Stone,34,0.550000,0.541655,1.000000,"[33, 29, 353, 9, 203]","[33, 29, 27, 353, 56]"
34,The Street Lawyer,63,0.333333,0.578743,1.000000,"[193, 38, 150, 414, 213]","[414, 93, 193, 339, 322]"
24,Interview with the Vampire,314,0.333333,0.337600,1.000000,"[359, 363, 364, 190, 622]","[359, 88, 363, 464, 529]"
28,The Client,221,0.300000,0.455539,1.000000,"[222, 38, 219, 132, 381]","[38, 217, 492, 219, 465]"
46,The Bridges of Madison County,301,0.300000,0.703369,1.000000,"[651, 11, 517, 412, 638]","[638, 431, 418, 11, 128]"
26,Harry Potter and the Chamber of Secrets,33,0.300000,0.468913,1.000000,"[29, 353, 34, 9, 32]","[34, 641, 583, 29, 529]"
48,The Brethren,82,0.280000,0.364001,1.000000,"[150, 213, 1, 193, 153]","[213, 325, 84, 194, 150]"
42,A Prayer for Owen Meany,126,0.233333,0.558061,0.500000,"[514, 76, 111, 424, 296]","[541, 296, 111, 454, 331]"
36,One for the Money,115,0.200000,0.385829,1.000000,"[170, 352, 440, 36, 442]","[440, 504, 448, 56, 515]"
39,The Chamber,38,0.200000,0.289372,1.000000,"[132, 221, 63, 381, 150]","[221, 199, 143, 144, 173]"
41,The Runaway Jury,213,0.200000,0.578743,1.000000,"[132, 150, 222, 63, 82]","[82, 376, 555, 526, 187]"
17,Where the Heart Is,257,0.200000,0.385829,1.000000,"[24, 635, 485, 235, 114]","[485, 162, 524, 653, 5]"
38,Hannibal,52,0.200000,0.192914,1.000000,"[298, 615, 240, 46, 559]","[298, 331, 352, 377, 69]"
18,The Secret Life of Bees,118,0.100000,0.121715,0.500000,"[43, 254, 627, 200, 256]","[121, 43, 1, 223, 111]"
7,A Time to Kill,219,0.100000,0.182573,0.500000,"[222, 221, 381, 38, 132]","[463, 221, 488, 552, 151]"
20,White Oleander : A Novel,123,0.100000,0.365146,0.500000,"[24, 448, 265, 144, 186]","[510, 186, 156, 554, 345]"
47,Red Dragon,298,0.100000,0.121715,0.500000,"[52, 609, 192, 529, 139]","[353, 52, 116, 34, 348]"
15,The Joy Luck Club,30,0.100000,0.121715,0.500000,"[176, 72, 107, 577, 171]","[634, 176, 151, 249, 358]"
50,MEAN,-1,0.089400,0.151023,0.334000,[],[]
23,The Pilot's Wife : A Novel,100,0.066667,0.144686,0.333333,"[246, 76, 24, 447, 104]","[167, 289, 76, 423, 305]"
10,Bridget Jones's Diary,11,0.066667,0.192914,0.333333,"[481, 647, 301, 513, 51]","[133, 200, 301, 457, 85]"
49,Violets Are Blue,47,0.066667,0.144686,0.333333,"[46, 329, 528, 379, 197]","[586, 468, 329, 364, 6]"
44,Little Altars Everywhere: A Novel,104,0.050000,0.083084,0.250000,"[234, 330, 533, 100, 482]","[625, 16, 154, 234, 121]"
35,The Summons,54,0.050000,0.083084,0.250000,"[283, 46, 63, 377, 352]","[566, 210, 578, 283, 571]"
2,Divine Secrets of the Ya-Ya Sisterhood: A Novel,256,0.040000,0.149259,0.200000,"[97, 107, 497, 118, 64]","[245, 95, 386, 236, 497]"
40,The Perfect Storm : A True Story of Men Agains...,493,0.000000,0.000000,0.000000,"[108, 397, 243, 123, 134]","[529, 541, 616, 336, 8]"
32,The Rainmaker,132,0.000000,0.000000,0.000000,"[381, 38, 150, 221, 222]","[62, 130, 642, 436, 237]"
43,Midwives: A Novel,576,0.000000,0.000000,0.000000,"[311, 438, 474, 246, 59]","[117, 411, 530, 537, 157]"
37,The Girls' Guide to Hunting and Fishing,438,0.000000,0.000000,0.000000,"[48, 576, 611, 207, 90]","[320, 105, 534, 93, 635]"
45,1st to Die: A Novel,67,0.000000,0.000000,0.000000,"[46, 17, 403, 105, 41]","[509, 193, 342, 654, 338]"
33,To Kill a Mockingbird,35,0.000000,0.000000,0.000000,"[312, 292, 99, 236, 524]","[274, 501, 108, 268, 9]"
0,Wild Animus,31,0.000000,0.000000,0.000000,"[341, 285, 117, 175, 555]","[172, 446, 317, 418, 14]"
31,The No. 1 Ladies' Detective Agency,180,0.000000,0.000000,0.000000,"[179, 625, 207, 424, 565]","[445, 21, 154, 246, 446]"
13,A Painted House,1,0.000000,0.000000,0.000000,"[82, 46, 448, 273, 115]","[118, 258, 502, 48, 250]"
3,The Da Vinci Code,25,0.000000,0.000000,0.000000,"[61, 510, 48, 129, 157]","[420, 45, 523, 49, 545]"
4,The Nanny Diaries: A Novel,497,0.000000,0.000000,0.000000,"[98, 482, 635, 236, 330]","[423, 655, 269, 589, 564]"
5,The Pelican Brief,222,0.000000,0.000000,0.000000,"[221, 219, 381, 132, 150]","[619, 68, 263, 640, 193]"
6,She's Come Undone,49,0.000000,0.000000,0.000000,"[424, 72, 563, 24, 113]","[590, 70, 448, 261, 128]"
8,The Horse Whisperer,224,0.000000,0.000000,0.000000,"[444, 468, 344, 113, 20]","[614, 116, 254, 529, 33]"
9,Snow Falling on Cedars,254,0.000000,0.000000,0.000000,"[508, 309, 99, 473, 367]","[188, 36, 529, 224, 275]"
11,The Firm,381,0.000000,0.000000,0.000000,"[132, 222, 38, 221, 219]","[51, 599, 362, 40, 374]"
14,Message in a Bottle,319,0.000000,0.000000,0.000000,"[517, 607, 399, 641, 109]","[259, 212, 184, 322, 133]"
30,House of Sand and Fog,311,0.000000,0.000000,0.000000,"[576, 445, 273, 474, 246]","[647, 338, 376, 130, 481]"
16,The Notebook,0,0.000000,0.000000,0.000000,"[109, 552, 522, 169, 517]","[364, 91, 92, 15, 568]"
19,Angels &amp; Demons,61,0.000000,0.000000,0.000000,"[25, 114, 48, 507, 179]","[32, 548, 452, 45, 623]"
21,The Red Tent,107,0.000000,0.000000,0.000000,"[101, 72, 367, 273, 209]","[606, 424, 269, 562, 379]"
22,Good in Bed,207,0.000000,0.000000,0.000000,"[420, 379, 180, 24, 572]","[127, 610, 474, 560, 229]"
1,The Lovely Bones: A Novel,24,0.000000,0.000000,0.000000,"[207, 246, 369, 100, 257]","[385, 329, 350, 28, 540]"
27,Life of Pi,106,0.000000,0.000000,0.000000,"[151, 24, 543, 273, 202]","[27, 382, 108, 292, 69]"
29,Summer Sisters,259,0.000000,0.000000,0.000000,"[568, 379, 147, 640, 647]","[319, 267, 421, 495, 91]"
25,Jurassic Park,529,0.000000,0.000000,0.000000,"[287, 284, 288, 289, 373]","[254, 33, 614, 224, 268]"

### Evaluate recommendations from softmax embeddings

In [15]:
results_nn_embs, result_titles_nn_embs = evaluate_recommendations(
    evaluation_recommend_dict,
    mat_fact_nn_recommend_dict)

results_nn_embs.sort_values("Average precision", ascending=False)

,Query title,Query book id,Average precision,Norm DCG,MR,GT ids,Pred ids
12,Harry Potter and the Sorcerer's Stone,34,0.483333,0.510455,1.000000,"[33, 29, 353, 9, 203]","[33, 224, 353, 29, 459]"
26,Harry Potter and the Chamber of Secrets,33,0.400000,0.436345,1.000000,"[29, 353, 34, 9, 32]","[29, 34, 562, 194, 104]"
47,Red Dragon,298,0.300000,0.606912,1.000000,"[52, 609, 192, 529, 139]","[529, 499, 211, 609, 420]"
18,The Secret Life of Bees,118,0.100000,0.365146,0.500000,"[43, 254, 627, 200, 256]","[515, 256, 171, 594, 35]"
22,Good in Bed,207,0.100000,0.304289,0.500000,"[420, 379, 180, 24, 572]","[64, 24, 515, 222, 280]"
1,The Lovely Bones: A Novel,24,0.066667,0.096457,0.333333,"[207, 246, 369, 100, 257]","[132, 493, 207, 395, 497]"
48,The Brethren,82,0.066667,0.192914,0.333333,"[150, 213, 1, 193, 153]","[102, 259, 1, 526, 29]"
45,1st to Die: A Novel,67,0.050000,0.124626,0.250000,"[46, 17, 403, 105, 41]","[601, 101, 1, 17, 82]"
13,A Painted House,1,0.050000,0.083084,0.250000,"[82, 46, 448, 273, 115]","[259, 424, 256, 82, 85]"
2,Divine Secrets of the Ya-Ya Sisterhood: A Novel,256,0.050000,0.207709,0.250000,"[97, 107, 497, 118, 64]","[1, 224, 101, 118, 381]"
6,She's Come Undone,49,0.040000,0.186574,0.200000,"[424, 72, 563, 24, 113]","[363, 328, 464, 556, 24]"
34,The Street Lawyer,63,0.040000,0.111944,0.200000,"[193, 38, 150, 414, 213]","[290, 183, 621, 288, 38]"
39,The Chamber,38,0.040000,0.149259,0.200000,"[132, 221, 63, 381, 150]","[402, 562, 267, 251, 63]"
50,MEAN,-1,0.035733,0.067514,0.120333,[],[]
37,The Girls' Guide to Hunting and Fishing,438,0.000000,0.000000,0.000000,"[48, 576, 611, 207, 90]","[566, 166, 281, 569, 224]"
33,To Kill a Mockingbird,35,0.000000,0.000000,0.000000,"[312, 292, 99, 236, 524]","[497, 238, 449, 613, 515]"
32,The Rainmaker,132,0.000000,0.000000,0.000000,"[381, 38, 150, 221, 222]","[24, 526, 149, 403, 238]"
35,The Summons,54,0.000000,0.000000,0.000000,"[283, 46, 63, 377, 352]","[384, 625, 139, 471, 341]"
36,One for the Money,115,0.000000,0.000000,0.000000,"[170, 352, 440, 36, 442]","[159, 587, 119, 175, 110]"
41,The Runaway Jury,213,0.000000,0.000000,0.000000,"[132, 150, 222, 63, 82]","[7, 244, 503, 39, 502]"
38,Hannibal,52,0.000000,0.000000,0.000000,"[298, 615, 240, 46, 559]","[212, 112, 175, 382, 97]"
40,The Perfect Storm : A True Story of Men Agains...,493,0.000000,0.000000,0.000000,"[108, 397, 243, 123, 134]","[348, 382, 24, 59, 387]"
30,House of Sand and Fog,311,0.000000,0.000000,0.000000,"[576, 445, 273, 474, 246]","[556, 443, 163, 328, 351]"
42,A Prayer for Owen Meany,126,0.000000,0.000000,0.000000,"[514, 76, 111, 424, 296]","[501, 22, 167, 250, 423]"
43,Midwives: A Novel,576,0.000000,0.000000,0.000000,"[311, 438, 474, 246, 59]","[380, 289, 482, 9, 248]"
44,Little Altars Everywhere: A Novel,104,0.000000,0.000000,0.000000,"[234, 330, 533, 100, 482]","[368, 592, 447, 33, 229]"
46,The Bridges of Madison County,301,0.000000,0.000000,0.000000,"[651, 11, 517, 412, 638]","[247, 73, 428, 204, 130]"
49,Violets Are Blue,47,0.000000,0.000000,0.000000,"[46, 329, 528, 379, 197]","[140, 263, 236, 276, 652]"
31,The No. 1 Ladies' Detective Agency,180,0.000000,0.000000,0.000000,"[179, 625, 207, 424, 565]","[206, 4, 151, 259, 494]"
0,Wild Animus,31,0.000000,0.000000,0.000000,"[341, 285, 117, 175, 555]","[470, 367, 314, 477, 510]"
29,Summer Sisters,259,0.000000,0.000000,0.000000,"[568, 379, 147, 640, 647]","[82, 1, 180, 374, 643]"
14,Message in a Bottle,319,0.000000,0.000000,0.000000,"[517, 607, 399, 641, 109]","[66, 204, 94, 635, 546]"
3,The Da Vinci Code,25,0.000000,0.000000,0.000000,"[61, 510, 48, 129, 157]","[440, 43, 34, 502, 125]"
4,The Nanny Diaries: A Novel,497,0.000000,0.000000,0.000000,"[98, 482, 635, 236, 330]","[331, 61, 35, 224, 24]"
5,The Pelican Brief,222,0.000000,0.000000,0.000000,"[221, 219, 381, 132, 150]","[364, 189, 333, 207, 507]"
7,A Time to Kill,219,0.000000,0.000000,0.000000,"[222, 221, 381, 38, 132]","[387, 150, 312, 477, 260]"
8,The Horse Whisperer,224,0.000000,0.000000,0.000000,"[444, 468, 344, 113, 20]","[34, 497, 256, 632, 331]"
9,Snow Falling on Cedars,254,0.000000,0.000000,0.000000,"[508, 309, 99, 473, 367]","[181, 512, 231, 79, 555]"
10,Bridget Jones's Diary,11,0.000000,0.000000,0.000000,"[481, 647, 301, 513, 51]","[257, 44, 396, 637, 126]"
11,The Firm,381,0.000000,0.000000,0.000000,"[132, 222, 38, 221, 219]","[476, 32, 82, 256, 531]"
15,The Joy Luck Club,30,0.000000,0.000000,0.000000,"[176, 72, 107, 577, 171]","[134, 124, 164, 256, 29]"
28,The Client,221,0.000000,0.000000,0.000000,"[222, 38, 219, 132, 381]","[351, 641, 73, 197, 150]"
16,The Notebook,0,0.000000,0.000000,0.000000,"[109, 552, 522, 169, 517]","[457, 600, 248, 4, 387]"
17,Where the Heart Is,257,0.000000,0.000000,0.000000,"[24, 635, 485, 235, 114]","[11, 201, 454, 565, 13]"
19,Angels &amp; Demons,61,0.000000,0.000000,0.000000,"[25, 114, 48, 507, 179]","[395, 497, 154, 656, 188]"
20,White Oleander : A Novel,123,0.000000,0.000000,0.000000,"[24, 448, 265, 144, 186]","[170, 86, 281, 435, 328]"
21,The Red Tent,107,0.000000,0.000000,0.000000,"[101, 72, 367, 273, 209]","[565, 201, 535, 332, 124]"
23,The Pilot's Wife : A Novel,100,0.000000,0.000000,0.000000,"[246, 76, 24, 447, 104]","[77, 592, 471, 135, 120]"
24,Interview with the Vampire,314,0.000000,0.000000,0.000000,"[359, 363, 364, 190, 622]","[31, 615, 200, 244, 489]"
27,Life of Pi,106,0.000000,0.000000,0.000000,"[151, 24, 543, 273, 202]","[642, 22, 624, 420, 142]"
25,Jurassic Park,529,0.000000,0.000000,0.000000,"[287, 284, 288, 289, 373]","[298, 329, 323, 274, 417]"

In [16]:
result_titles_nn_embs

,Query title,Query book id,GT titles,Pred titles
0,Wild Animus,31,"[At Home in Mitford, The Andromeda Strain, The...","[Before I Say Good-Bye, Waiting, Interview wit..."
1,The Lovely Bones: A Novel,24,"[Good in Bed, Drowning Ruth, The Book of Ruth,...","[The Rainmaker, The Perfect Storm : A True Sto..."
2,Divine Secrets of the Ya-Ya Sisterhood: A Novel,256,"[Girl in Hyacinth Blue, The Red Tent, The Nann...","[A Painted House, The Horse Whisperer, Girl wi..."
3,The Da Vinci Code,25,"[Angels &amp; Demons, Touching Evil, The Sweet...","[High Five, The Saving Graces: A Novel, Harry ..."
4,The Nanny Diaries: A Novel,497,"[The Devil Wears Prada : A Novel, The Hours: A...","[1984, Angels &amp; Demons, To Kill a Mockingb..."
5,The Pelican Brief,222,"[The Client, A Time to Kill, The Firm, The Rai...","[The Tale of the Body Thief, The Outsiders, Ic..."
6,She's Come Undone,49,"[Empire Falls, The Bonesetter's Daughter, How ...","[The Witching Hour, The Simple Truth, From the..."
7,A Time to Kill,219,"[The Pelican Brief, The Client, The Firm, The ...","[The General's Daughter, The Partner, Five Qua..."
8,The Horse Whisperer,224,"[The Loop, The Alibi, Envy, The Poisonwood Bib...","[Harry Potter and the Sorcerer's Stone, The Na..."
9,Snow Falling on Cedars,254,"[Cry Wolf, Songs in Ordinary Time, While I Was...",[Balzac and the Little Chinese Seamstress : A ...
10,Bridget Jones's Diary,11,"[Bridget Jones: The Edge of Reason, Zoya, The ...","[Where the Heart Is, Full House, The Deep End ..."
11,The Firm,381,"[The Rainmaker, The Pelican Brief, The Chamber...","[Unnatural Exposure, Charlotte's Web, The Bret..."
12,Harry Potter and the Sorcerer's Stone,34,"[Harry Potter and the Chamber of Secrets, Harr...","[Harry Potter and the Chamber of Secrets, The ..."
13,A Painted House,1,"[The Brethren, Roses Are Red, We Were the Mulv...","[Summer Sisters, Empire Falls, Divine Secrets ..."
14,Message in a Bottle,319,"[Nights in Rodanthe, The Mulberry Tree, River'...","[Cradle and All, Dying for Chocolate, The Indi..."
15,The Joy Luck Club,30,"[The Kitchen God's Wife, The Bonesetter's Daug...","[Into the Wild, Me Talk Pretty One Day, D Is f..."
16,The Notebook,0,"[A Walk to Remember, Everything's Eventual : 1...","[Chicken Soup for the Soul, Q Is for Quarry, T..."
17,Where the Heart Is,257,"[The Lovely Bones: A Novel, Blue Diary, Confes...","[Bridget Jones's Diary, All I Really Need to K..."
18,The Secret Life of Bees,118,"[The Saving Graces: A Novel, Snow Falling on C...","[Skipping Christmas, Divine Secrets of the Ya-..."
19,Angels &amp; Demons,61,"[The Da Vinci Code, Bel Canto: A Novel, The Sw...","[Insomnia, The Nanny Diaries: A Novel, Blood W..."
20,White Oleander : A Novel,123,"[The Lovely Bones: A Novel, We Were the Mulvan...","[Two for the Dough, The Prince of Tides, Key o..."
21,The Red Tent,107,"[Girl with a Pearl Earring, The Bonesetter's D...","[Confessions of an Ugly Stepsister : A Novel, ..."
22,Good in Bed,207,"[In Her Shoes : A Novel, Family Album, The No....","[The Green Mile, The Lovely Bones: A Novel, Sk..."
23,The Pilot's Wife : A Novel,100,"[Drowning Ruth, I Know This Much Is True, The ...",[The Divine Secrets of the Ya-Ya Sisterhood: A...
24,Interview with the Vampire,314,"[The Vampire Lestat, The Witching Hour, The Ta...","[Wild Animus, Rose Madder, The Five People You..."
25,Jurassic Park,529,"[Rising Sun, Sphere, Airframe, The Lost World,...","[Red Dragon, Four Blind Mice, The Last Precinc..."
26,Harry Potter and the Chamber of Secrets,33,"[Harry Potter and the Prisoner of Azkaban, Har...","[Harry Potter and the Prisoner of Azkaban, Har..."
27,Life of Pi,106,"[Tell No One, The Lovely Bones: A Novel, I Cap...","[Christy, Politically Correct Bedtime Stories:..."
28,The Client,221,"[The Pelican Brief, The Chamber, A Time to Kil...","[Face the Fire, Nightmares &amp; Dreamscapes, ..."
29,Summer Sisters,259,"[Wifey, Family Album, Wanderlust, Fine Things,...","[The Brethren, A Painted House, The No. 1 Ladi..."
30,House of Sand and Fog,311,"[Midwives: A Novel, River, Cross My Heart, Fal...",[Jemima J: A Novel About Ugly Ducklings and Sw...
31,The No. 1 Ladies' Detective Agency,180,"[Tears of the Giraffe, Morality for Beautiful ...","[Open House, Night Sins, Tell No One, Summer S..."
32,The Rainmaker,132,"[The Firm, The Chamber, The Partner, The Clien...","[The Lovely Bones: A Novel, Dragonfly in Amber..."
33,To Kill a Mockingbird,35,"[Five Quarters of the Orange, Song of Solomon,...","[The Nanny Diaries: A Novel, Black House, The ..."
34,The Street Lawyer,63,"[The Testament, The Chamber, The Partner, Moon...","[Timeline, Hornet's Nest, Betrayal in Death, A..."
35,The Summons,54,"[The Empty Chair, Roses Are Red, The Street La...","[The Return Journey, Morality for Beautiful Gi..."
36,One for the Money,115,"[Two for the Dough, Hard Eight : A Stephanie P...","[K Is for Killer, Desperation, Three To Get De..."
37,The Girls' Guide to Hunting and Fishing,438,"[The Sweet Potato Queens' Book of Love, Midwiv...","[It, E Is for Evidence: A Kinsey Millhone Myst..."
38,Hannibal,52,"[Red Dragon, Rose Madder, The Drawing of the T...","[The Thorn Birds, Angela's Ashes, Pay It Forwa..."
39,The Chamber,38,"[The Rainmaker, The Client, The Street Lawyer,...","[F Is for Fugitive, Charlie and the Chocolate ..."
40,The Perfect Storm : A True Story of Men Agains...,493,[Like Water for Chocolate: A Novel in Monthly ...,"[The Fellowship of the Ring, A Wrinkle in Time..."
41,The Runaway Jury,213,"[The Rainmaker, The Partner, The Pelican Brief...","[The Pillars of the Earth, Dracula, The Color ..."
42,A Prayer for Owen Meany,126,"[The Hours : A Novel, I Know This Much Is True...","[Lamb : The Gospel According to Biff, Christ's..."
43,Midwives: A Novel,576,"[House of Sand and Fog, The Girls' Guide to Hu...","[Daddy, The Lost World, The Hours: A Novel, Ha..."
44,Little Altars Everywhere: A Novel,104,"[The Shipping News : A Novel, STONES FROM THE ...","[American Gods, See Jane Date, Vinegar Hill, H..."
45,1st to Die: A Novel,67,"[Roses Are Red, Along Came a Spider, The Clini...","[Under the Tuscan Sun, Girl with a Pearl Earri..."
46,The Bridges of Madison County,301,"[That Camden Summer, Bridget Jones's Diary, Ni...","[Night, Holes, The Burden of Proof, Dying for ..."
47,Red Dragon,298,"[Hannibal, Silence of the Lambs, Point of Orig...","[Jurassic Park, Milk and Honey, Disclosure, Si..."
48,The Brethren,82,"[The Partner, The Runaway Jury, A Painted Hous...","[Chocolat, Summer Sisters, A Painted House, Dr..."
49,Violets Are Blue,47,"[Roses Are Red, Four Blind Mice, Kiss the Girl...","[Rules of Prey, The Switch, The Catcher in the..."

## Result

In [17]:
method_names = ["PCA",
                "Matrix factiorization by gradient descent",
                "Matrix factiorization by softmax model"]
method_results_dfs = [results_pca_embs, results_gd_embs, results_nn_embs]

comparison_data = []
for method, res_df in zip(method_names, method_results_dfs):
    comparison_data.append([method] + list(
        res_df[["Average precision", "Norm DCG", "MR"]][
                res_df["Query title"] == "MEAN"].values[0]))
comparison_df = pd.DataFrame(
    comparison_data,
    columns=["Embedding method", "mAP", "mNDCG", "MMR"])
comparison_df

                            Embedding method       mAP     mNDCG       MMR
0                                        PCA  0.421267  0.519883  0.795000
1  Matrix factiorization by gradient descent  0.089400  0.151023  0.334000
2     Matrix factiorization by softmax model  0.035733  0.067514  0.120333

In [18]:
print(pca_embeddings.shape[1] == matrix_factor_gd_embeddings.shape[1])
print(pca_embeddings.shape[1] == matrix_factor_nn_embeddings.shape[1])

True
True

In [19]:
best_embedding_method = comparison_df["Embedding method"][
    comparison_df["mAP"] == comparison_df["mAP"].max()].values[0]

print(f"All {len(method_names)} methods produced book embeddings with \
 dimensionality of {pca_embeddings.shape[1]}, but method {best_embedding_method}\
 achieved best embedding vectors for nearest neighbor retrieval\
 by cosine metric.")

All 3 methods produced book embeddings with  dimensionality of 35, but method PCA achieved best embedding vectors for nearest neighbor retrieval by cosine metric.